/* CSS Document */
@charset "utf-8";

.main{width:1100px; margin:0 auto; background:#f3f3f3;}
.left_bar{height:700px; width:120px; background:url(../image/index/bg_leftbar.png) no-repeat; float:left;}
.left_bar ul li{width:120px; line-height:38px; font-size:14px; cursor:pointer;}
.left_bar ul li.current .li_content{background:url(../image/index/bg_leftbarlist.png) -108px 0 no-repeat;}
.left_bar ul li a{color:#cddbea; display:inline-block; vertical-align:middle;}
.left_bar ul li.current a{color:#fff;}
.left_bar ul li:hover a.l_a_v1{color:#fff;}
.left_bar ul li .li_content{width:100%; height:100%;}
.left_bar ul li .l_2_list{display:none;}
.left_bar ul li .l_2_list a{height:36px; width:90px; color:#cddbea; font-size:12px; display:block; padding-left:30px; vertical-align:top;}
.left_bar ul li .l_2_list a.current{background:url(../image/index/bg_leftbarlist.png) -108px 0 no-repeat; color:#fff;}
.left_bar ul li .l_2_list a:hover{color:#fff; background:url(../image/index/bg_leftbarlist.png) -108px 0 no-repeat;} 
.left_bar ul li em{height:18px; width:18px; display:inline-block; margin:11px 5px 0 9px; vertical-align:top; background:url(../image/index/bg_leftbarlist.png) no-repeat;}
.left_bar ul li.l_hot em{ background-position:-6px -4px;}
.left_bar ul li.l_etm em{background-position:-6px -29px;}
.left_bar ul li.l_game em{background-position:-6px -57px;}
.left_bar ul li.l_voice em{background-position:-6px -86px;}
.left_bar ul li.l_rank em{background-position:-6px -117px;}
.left_bar ul li.l_subscibe em{background-position:-6px -148px;}
.left_bar ul li.l_hot:hover em,.left_bar ul li.current em.l_hot_em{background-position:-30px -4px;}
.left_bar ul li.l_etm:hover em,.left_bar ul li.current em.l_etm_em{background-position:-30px -29px;}
.left_bar ul li.l_game:hover em,.left_bar ul li.current em.l_game_em{background-position:-30px -57px;}
.left_bar ul li.l_voice:hover em,.left_bar ul li.current em.l_voice_em{background-position:-30px -86px;}
.left_bar ul li.l_rank:hover em,.left_bar ul li.current em.l_rank_em{background-position:-30px -117px;}
.left_bar ul li.l_subscibe:hover em,.left_bar ul li.current em.l_subscibe_em{background-position:-30px -148px;}
.left_bar ul li i{height:18px; width:18px; display:inline-block; margin-left:6px; vertical-align:middle; background:url(../image/index/bg_leftbarlist.png) -57px -4px no-repeat;}
.left_bar ul li:hover i{background-position:-81px -4px;}

.content{ width:720px; height:auto; float:left;}
#picwall{height:322px; width:720px; background:url(../image/index/bg_picwall.png) no-repeat; position:relative;}
#picwall .picwall_ul{width:214px; height:322px; float:left;}
#picwall .picwall_ul li{float:left; width:106px; height:106px; margin-left:1px; margin-top:1px; cursor:pointer;}
#picwall .picwall_ul li .detail{display:none;}
#picwall_refresh{background:url(../image/index/bg_leftbarlist.png) -108px -43px no-repeat;}
#picwall_refresh:hover{background-position:-108px -150px;}
#picwall_follow{position:absolute; display:none; top:10px; left:10px; padding:4px 4px 6px; background:#fff; box-shadow:0px 0px 4px #a5a5a5; z-index:2;}
#picwall_follow p{margin-top:6px;}
#picwall_follow p em{ vertical-align:top; margin:0 7px 0 3px; display:inline-block;}
#picwall_follow p em.a_type{height:16px; width:18px; display:inline-block; background:url(../image/index/bg_leftbarlist.png) no-repeat;}
#picwall_follow p em.a_video{background-position:-57px -32px;}
#picwall_follow p em.a_audio{background-position:-81px -32px;}
#picwall_follow p span{ vertical-align:top; color:#333; display:inline-block; height:17px; line-height:17px;}
#picwall_follow p span.a_people i{display:inline-block; width:16px; height:16px; margin-right:2px; background:url(../image/index/bg_leftbarlist.png) -57px -58px  no-repeat;}
#picwall_banner{float:left; margin-left:1px; margin-top:1px; width:290px; height:320px;}
#picwall_banner .focus{width:290px; height:320px; overflow:hidden; position:relative;}
#picwall_banner .focus .focus_img_bar{position:absolute; left:0px; top:0px; width:3000px; height:320px;}
#picwall_banner .focus .focus_img_bar a{height:320px; width:290px; float:left; display:inline-block;}
#picwall_banner .focus .focus_control{position:absolute; bottom:6px; width:100%; text-align:center; z-index:1;}
#picwall_banner .focus .focus_control em{display:inline-block; height:13px; width:14px; margin:0 1px; background:url(../image/index/bg_leftbarlist.png) -232px -22px no-repeat; cursor:pointer;}
#picwall_banner .focus .focus_control em.current{background-position:-232px -6px;}
#picwall_banner .focus .focus_run{position:absolute; display:none; height:40px; width:40px; background:url(../image/index/bg_leftbarlist.png) no-repeat; cursor:pointer;}
#picwall_banner .focus .f_left{background-position:-216px -43px; left:8px; top:125px;}
#picwall_banner .focus .f_right{background-position:-258px -43px; top:125px; right:8px;}
#picwall_banner .focus .f_left:hover{background-position:-216px -84px;}
#picwall_banner .focus .f_right:hover{background-position:-258px -84px;}

.list_area{width:720px;}
.list_content_ul li{height:140px; width:155px; float:left; position:relative; overflow:hidden; border:1px solid #e8e8e8; border-top:none; border-radius:4px; margin:18px 0 0 18px ; background:#ccc; box-shadow:0px 1px 1px #f7f7f7;}
.list_content_ul li .list_go{position:absolute; top:0; left:0; width:155px; height:96px; display:none;}
.list_content_ul li .list_go i{position:absolute; top:24px; left:53px; height:48px; width:48px; background:url(../image/index/bg_leftbarlist.png) -53px -117px no-repeat;}
.list_content_ul li .list_bottom{position:absolute; bottom:0; width:155px; height:44px;}
.list_content_ul li .list_bottom .lb1{height:20px; width:150px; background:#fff; opacity:0.7; filter:alpha(opacity=70); text-align:right; padding-right:5px; line-height:20px;}
.list_content_ul li .list_bottom .lb1 i{display:inline-block; width:16px; height:16px; margin:2px 2px 0 0; vertical-align:top; background:url(../image/index/bg_leftbarlist.png) -57px -58px  no-repeat;}
.list_content_ul li .list_bottom .lb2{height:24px; width:155px; background:#fff;line-height:24px;}
.list_content_ul li .list_bottom .lb2 em{display:inline-block; vertical-align:top; margin:4px 4px 0px 6px;}

.right_bar{height:700px; width:260px; background:url(../image/index/bg_rightbar.png) no-repeat; float:left;}


.myInfo {
	width: 220px;
	height: 100px;
	padding: 20px 20px 0 20px;
}

.myInfo img {
	width:60px;
	height:60px;
	margin:0 10px 10px 0;
	float:left;
}

.intro {
	width:140px;
	height:70px;
	float: left;
	margin-top: -7px;
}

.intro .name{
	font-family:"微软雅黑";
	font-size:14px;
	color:#333333;
	display: inherit;
}

.intro p{
	margin:5px 0;
}
.intro p span{
	font-family:"宋体";
	font-size:12px;
	color:#333333;
	line-height:20px;
	float:left;
}
.intro p img {
	width:19px;
	height:16px;
	float:left;
	margin-top:2px;
	margin-bottom:5px;
}

.intro p .number{
	width:68px;
	text-align: right;
}
.intro p a{
	color:#3893c6;
	font-family:"宋体";
	font-size:12px;
	margin-left:12px;
	text-decoration:underline;
}

.live-recharge {
	width:209px;
	height:30px;
	clear:both;
}

.myInfo .live {
	height:32px;
	width:105px;
	background:url(../image/index/bg_leftbarlist.png) no-repeat -2px -173px;
	position:relative;
	top:65px;
}

.live-recharge .recharge {
	height:30px;
	width:100px;
	background:#f9be4f;
	border-radius:15px;
	float:left;
	margin-left:9px;
}

.live-recharge a{
	font-size:16px;
	color:#fff;
	line-height:30px;
	text-align:center;
	display:block;
	text-decoration:none;
}

.myFollowing {
	width:209px;
	height:190px;
	margin-left: 20px;
}

ul.follow-tab{
	width:240px;
	height:27px;
	margin-top:15px;
	border-bottom:1px solid #787878;
}

ul.follow-tab li{
	float:left;
    display:inline;
	height:24px;
}

ul.follow-tab li.active {
	border-bottom:3px solid #787878;
	color:#333333;
}

ul.follow-tab li.active a{
	color:#333333;
}

ul.follow-tab li:first-child a{
	border-right:1px solid #787878;
}

ul.follow-tab li a{
    color:#787878;
    width:80px;
    height: 14px;
	margin-left:20px;
    display:block;
    float:left;
	font-family:"宋体";
}

.followTitle{
	font-size:18px;
	color:#333333;
	line-height:28px;
}

ul.follow-list {
	width:100%;
	height:150px;
}
	
ul.follow-list li{
	width:195px;
	height:44px;
	margin:8px 0;
}

ul.follow-list li img {
	width:41px;
	height:41px;
	margin:0 10px 0 0;
	float:left;
}

.followingIntro {
	width:88px;
	height:100%;
	float: left;
}

.followingIntro .name{
	font-size:12px;
	color:#333333;
	font-family:"宋体";
	display: inherit;
}

.followingIntro .info{
	height:20px;
	margin-top:9px;
	width:150px;
}

.followingIntro .living{
	width:17px;
	height:17px;
	background:url(../image/index/bg_leftbarlist.png) no-repeat -58px -32px;
	display:inline-block;
}

.followingIntro .listening{
	width:17px;
	height:17px;
	background:url(../image/index/bg_leftbarlist.png) no-repeat -81px -32px;
	display:inline-block;
}

.followingIntro .head{
	width:17px;
	height:17px;
	background:url(../image/index/bg_leftbarlist.png) no-repeat -57px -59px;
	display:inline-block;
}

.followingIntro .number{
	font-size:12px;
	color:#787878;
	line-height:12px;
	position: relative;
	top: -5px;
}

.seemore {
	width:215px;
	height:30px;
	background:#f0e0eb;
	margin-left:20px;
}

.seemore a{
	font-family:"宋体";
	text-align:center;
	font-size:12px;
	color:#787878;
	line-height:30px;
	text-decoration:none;
	display:block;
}

.zhuboRank {
	width:214px;
	height:345px;
	margin: 10px 0 0 20px;
	display:block;
}


.top5_title {
	width:230px;
	height:23px;
	display:block;
}

.top5_title span{
	font-size:15px;
	font-family:"微软雅黑";
	color:#333333;
	line-height:28px;
}

.top5_title .question-mark{
	width:19px;
	height:19px;
	background:url(../image/index/bg_leftbarlist.png) no-repeat -81px -56px;
	display:inline-block;
	position: relative;
	top: 4px;
}

ul.tab_style {
    width:225px;
    height:22px;
    display:block;
    margin-top: 6px;
    border-bottom: 1px #bdbdbd solid;
}

ul.tab_style li {
    float:left;
    display:inline;
	height:20px;
}

ul.tab_style li a{
    color:#787878;
    width:55px;
    height: 15px;
	border-right:1px solid #787878;
	text-decoration:none;
    display:block;
    text-align: center;
}

ul.tab_style li.active{
	border-bottom:3px solid #787878;
}

ul.tab_style li.active a{
    color:#333333;
}
	
ul.rank {
	width:100%;
	height:300px;
	display:block;
}
	
ul.rank li{
	width:235px;
	height:44px;
	padding:5px 0;
}

ul.rank li .avatar_rank{
	width:41px;
	height:41px;
	margin:0 10px 0 0;
	position:relative;
	float:left;
}

ul.rank li .avatar_rank img {
	width:41px;
	height:41px;
}

ul.rank li .avatar_rank .rank{
	position:absolute;
	width:15px;
	height:15px;
	bottom:1px;
	right:1px;
}

.avatar_rank .no1 {
	background:url(../image/index/bg_leftbarlist.png) no-repeat -215px -126px;
}

.avatar_rank .no2 {
	background:url(../image/index/bg_leftbarlist.png) no-repeat -215px -141px;
}

.avatar_rank .no3 {
	background:url(../image/index/bg_leftbarlist.png) no-repeat -215px -156px;
}

.avatar_rank .no4 {
	background:url(../image/index/bg_leftbarlist.png) no-repeat -215px -171px;
}

.avatar_rank .no5 {
	background:url(../image/index/bg_leftbarlist.png) no-repeat -215px -186px;
}

ul.rank li .level {
	width:25px;
	height:25px;
	float:right;
	position:relative;
	top:11px;
	background:url(../image/anchorLevel/18.png) no-repeat 0px 0px;
}



